html,
body {
    padding: 0;
    margin: 0;
}

.navbar {
    background-color: pink;
    padding: 12px 14px;
    color: white;
    text-align: center;
    font-size: 20px;
}

.navbar a {
    margin-right: 4px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: white;
    padding: 12px 14px;
}

.navbar a:visited {
    color: deeppink;
}

.demo-wrap {
    position: relative;
    margin-top: 0px;
    overflow: hidden;
}

.demo-wrap:before {
    content: ' ';
    display: block;
    position: absolute;
    width: 100%;
    min-height: 100vh;
    opacity: 0.6;
    background-image: url('https://s.yimg.com/ny/api/res/1.2/HinSPwTD1aEzgQb3d0uvow--/YXBwaWQ9aGlnaGxhbmRlcjt3PTEyMDA7aD02NzU-/https://media.zenfs.com/en/gamesradar_237/41970791b786a4e338df7a1a4521334c');
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
}

.demo-content {
    position: relative;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
    font-style: italic;
}

.container {
    margin-top: 20px;
}

.about .about-content {
    display: flex;
}

.about img {
    max-width: 350px;
}

.about p {
    margin-left: 20px;
    font-size: 18px;
}

.about button {
    margin-left: 20px;
    color: coral;
    background-color: blanchedalmond;
}

.services {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 60vh;
}

.card {
    padding: 30px 5px;
    margin: 20px 30px;
    text-align: justify;
}

.projects {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 60vh;
}

.contact h1 {
    text-align: center;
}

.input {
    margin: 0px 300px;
    padding: 2px;
    margin-bottom: 5px;
}
